<app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/vo.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/vo2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/vo3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h1 class="mb-3 mt-3 text-center">Welcome to ONLINE_SALES</h1>
  <div class="card ms-5 me-5 mb-3">
    <h5 class="card-header text-center">About us</h5>
    <div class="card-body">
      <h5 class="card-title">We are the best online sales platform</h5>
      <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non itaque consequuntur amet! Nihil perspiciatis corporis fugiat? Doloribus, nostrum itaque, et libero voluptates nam repellat aperiam nisi voluptatibus voluptatem debitis placeat!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est exercitationem beatae quisquam maiores, magni odit in nam incidunt ipsa voluptas quasi architecto ducimus temporibus inventore? Error magni ea asperiores sint.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, velit natus eum quod, illum mollitia pariatur atque tenetur voluptatem dicta ad officiis sed eligendi eveniet optio ea alias? Nobis, facilis.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dignissimos aperiam laborum dolorem, minima amet enim voluptatum officia consectetur, ab dolores, voluptatibus iure natus iusto voluptates tempora fugit possimus facere.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quia totam ea aspernatur eveniet minus nobis repellat recusandae accusantium fugiat possimus, optio illum reprehenderit repellendus mollitia, ab eos explicabo voluptas!
      </p>
      <a href="#" class="btn btn-primary">More</a>
    </div>
  </div>