<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div >
                <h1>:(</h1>
                <h2>Oops!</h2>

                <h2>404 Not Found</h2>

                <div class="error-details">Lo sentimos, Un error ha ocurrido, Pagina no encontrada!</div>

                <div class="error-actions">
                    <a routerLink="/home" href="" class="btn btn-primary btn-lg">Volver a Home </a>
                </div>
                
            </div>
        </div>
    </div>
</div>

